@inherits LayoutComponentBase
@inject IJSRuntime Js

<div class="flex grow">
    <!-- Sidebar -->
    <Sidebar />
    <!-- End of Sidebar -->
    <!-- Wrapper -->
    <div class="kt-wrapper flex grow flex-col">
        <!-- Header -->
        <Header />
        <!-- End of Header -->
        <!-- Content -->
        <main class="grow pt-5 w-full" id="content" role="content">
            @Body
        </main>
        <!-- End of Content -->
        <!-- Footer -->
        <Footer />
        <!-- End of Footer -->
    </div>
    <!-- End of Wrapper -->
</div>

@code {
    protected override void OnAfterRender(bool firstRender){
        Js.InvokeVoidAsync("KTComponent.init");
        Js.InvokeVoidAsync("KTLayout.init");
    }
}